@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RighteousRegular';
    src: url('./assets/fonts/Righteous-Regular.ttf');
}
@font-face {
    font-family: 'BubblegumSansRegular';
    src: url('./assets/fonts/BubblegumSans-Regular.ttf');
}
.spin {
    animation: spin 2s linear infinite; /* Animasi berputar */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.stroke {
    -webkit-text-stroke: 1.5px #BDB485;
    /* text-shadow: 
                0 -1px 2px #BDB485,
                0 1px 3px #BDB485; */
        }